@{
    ViewData["Title"] = "AuctionItemCreate";
}
<div class="container mt-4">
    <h1>Create Auction Item</h1>
    <form method="post" name="Create">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="itemName" name="ItemName" required>
        </div>
        <div>
            <div class="mb-4 d-flex justify-content-center">
                    <img id="placeholder" src="https://miro.medium.com/max/500/0*-ouKIOsDCzVCTjK-.png" style="width: 300px;" />
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-primary btn-rounded">
                        <label class="form-label text-white m-1" for="ImageFiles">Choose images</label>
                    <input type="file" class="form-control d-none" id="ImageFiles" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ItemImages">Image URLS</label>
            <input type="text" class="form-control" id="ItemImages" name="ItemImages" onchange="ImagePreview()" required/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="itemDescription" name="ItemDescription" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="ItemTags">Product tags:</label>
            <input type="text" class="form-control" id="ItemTags" name="ItemTags">
        </div>
        <div class="form-group">
            <label for="startingBid">Starting Bid:</label>
            <input type="number" class="form-control" id="startingBid" name="StartingBid" required>
        </div>
        <div class="form-group">
            <label for="itemEndDte">Date the bid ends:</label>
            <input type="date" class="form-control" id="itemEndDate" name="ItemEndDate"value="" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        @if (!ViewContext.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var error in ViewContext.ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
    </form>
</div>
<script>
    function ImagePreview() {
        var placeholder = document.getElementById("placeholder");
        var imageUrl = document.getElementById("ItemImages");
        placeholder.src = imageUrl.value;
    }
</script>
<style>
    #alert{
        color:crimson;
    }

    h1 {
        color: #3f51b5;
        text-align: center;
        margin-bottom: 2rem;
    }

    form {
        background-color: #f2f2f2;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .form-control {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: #ffffff;
    }

        .form-control:focus {
            border: none;
            box-shadow: none;
        }

    textarea.form-control {
        resize: vertical;
    }

    button[type=submit] {
        margin-top: 1rem;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
