<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuctionApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/AuctionApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="mr-auto order-0">
                        <li class="nav-bar-left"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" >Home</a></li>
                        <li class="nav-bar-left" ><a class="nav-link" href="#contact">Help & Contact</a></li>
                    </div>
                    <div class="mx-auto order-0">
                        <partial name="_LoginPartial" />
                        @if (SignInManager.IsSignedIn(User)) {
                            <li class="nav-bar-right"><a class="nav-ico-link" href="#notifications"><img class="ico" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-bell-512.png"></a></li>
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/AccountPage">My shop</a></li>
                            <li class="nav-bar-right"><a class="nav-link" href="#watchlist">Watchlist</a></li>
                            <li class ="nav-bar-right"><a class="nav-link" asp-controller="AuctionItem" asp-action="Create">Sell</a></li>
                            <li class="nav-bar-right"><a class="nav-link" href="#ship">Ship to</a></li>
                        }
                        else
                        {
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/Account/Login"><img class="ico" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-bell-512.png"></a> </li>
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/Account/Login">My shop</a></li>
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/Account/Login">Watchlist</a></li>
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/Account/Login">Sell</a></li>
                            <li class="nav-bar-right"><a class="nav-link" asp-area="Users" asp-page="/Account/Login">Ship to</a></li>
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start text-muted">
        <div class="class=" text-center p-4"">
            &reg Auction App company <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
