@using Microsoft.AspNetCore.Identity
@using AuctionApp.Data.Models;
@inject SignInManager<AuctionUser> SignInManager
@inject UserManager<AuctionUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-bar-right">
         <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Panel
            </a>
            <div class="dropdown-menu bg-secondary">
                <a class="nav-link dropdown-item" asp-area="Administration" asp-controller="AdministrationPanel" asp-action="UserIndex">Users</a>
                <a class="nav-link dropdown-item" asp-area="Administration" asp-controller="AdministrationPanel" asp-action="AuctionItemIndex">Auction Items</a>
            </div>
        </div>
        </li>
    }
    <li class="nav-bar-right">
        <a class="nav-link" asp-area="Users" asp-page="/AccountPage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-bar-right" style="color:chartreuse;">
        <a class="nav-link" asp-area="Users" asp-page="/Account/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-bar-right" id="signinreg">
        Hello!
        <a class="identity-link" asp-area="Users" asp-page="/Account/Login">Sign in</a>
        or
        <a class="identity-link" asp-area="Users" asp-page="/Account/Register">Register</a>
    </li>
}