@using Microsoft.AspNetCore.Identity
@using AuctionApp.Data.Models;
@inject SignInManager<AuctionUser> SignInManager
@inject UserManager<AuctionUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-bar-right">
        <a class="nav-link" asp-area="Administration" asp-controller="AdministrationPanel" asp-action="Index">Admin Panel</a>
    </li>
    <li class="nav-bar-left"><a class="nav-link" asp-controller="AuctionItem" asp-action="AuctionItemIndex">Items</a></li>
    <li class="nav-bar-right">
        <a class="nav-link" asp-area="Users" asp-page="/Account/Manage/Index">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-bar-right" style="color:chartreuse;">
        <a class="nav-link" asp-area="Users" asp-page="/Account/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-bar-right" id="signinreg">
        Hello!
        <a class="identity-link" asp-area="Users" asp-page="/Account/Login">Sign in</a>
        or
        <a class="identity-link" asp-area="Users" asp-page="/Account/Register">Register</a>
    </li>
}