@page
@model AuctionApp.Areas.Users.Pages.ChatSelectPageModel
@{
}


<div class="container">
    <h1>Private Messages</h1>

    @if (Model.ChatWithUsers.Any())
    {
        <ul class="list-group">
            @foreach (var chatWithUser in Model.ChatWithUsers)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a asp-area="Users" asp-page="/PrivateMessagePage" asp-route-userid="@chatWithUser.Id">
                        @chatWithUser.UserName
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No private messages sent.</p>
    }
</div>

<style>
    h1 {
        margin-bottom: 1rem;
    }

    .list-group-item {
        cursor: pointer;
    }
</style>