@model AuctionUserDto

<h1>Leave Feedback for @Model.UserName</h1>

<form method="post" name="Create" asp-for-itemId="@ViewBag.item.Id">
    <div class="form-group">
        <label for="rating">@ViewBag.item.itemName</label>
        <label for="rating">Rating:</label>
        <select class="form-control" id="Rating" name="Rating">
            <option value="5">5 Stars</option>
            <option value="4">4 Stars</option>
            <option value="3">3 Stars</option>
            <option value="2">2 Stars</option>
            <option value="1">1 Star</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="FeedbackText">Description:</label>
        <textarea class="form-control" id="FeedbackText" name="FeedbackText" rows="5"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit Feedback</button>
</form>